* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
svg {
    color: #FFFFFF;
}
body {
    background-image: url("../img/background.png");
    background-size: cover;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    height: 58px;
    background: transparent;
    position: relative;
    margin-bottom: 58px;
}
.logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    z-index: 1;
}
.logo:hover {
    color: #01813F;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    z-index: 0;
    transition: 0.3s;
}
.calendar:hover {
    color: #01813F;
    transition: 0.3s;
}
.mail:hover {
    color: #01813F;
    transition: 0.3s;
}
.compass:hover {
    color: #01813F;
}
.toplogin {
    text-decoration: none;
    color: #FFFFFF;
}
.topsignup {
    text-decoration: none;
    color: #FFFFFF;
}
.toplogin:hover{
    color: #01813F;
    transition: 0.3s;
}
.topsignup:hover{
    color: #01813F;
    transition: 0.3s;
}
.header-wrap {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}
header::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.63);
}
.header-wrap ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.header-wrap ul li {
    padding-right: 13px;
    padding-left: 13px;
    z-index: 1;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.header-wrap ul li:last-child {
    border-left: 1px solid white;
    padding-left: 27px;
    margin-left: 13px;
}
/*.greenblock {*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    background: #3CB878;*/
/*    position: relative;*/
/*    left: 0;*/
/*    top: -109px;*/
/*}*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background: #FFF;
    margin-bottom: 72px;
}
.form-input {

    width: 322px;
    height: 44.083px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-input::placeholder {
    outline: none;
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-left: 20px;
}
.form-input:active {
    box-shadow: 0px 3px 8px;
}
.checkbox {
    position: relative;
}
#tc {
    visibility: hidden; /* Скрыть стандартный чекбокс */
    position: absolute;
}
.checkbox-label {
    padding-left: 88px;
}
.checkbox-label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 61px;
    z-index: 1;
}
.checkbox-label::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    position: absolute;
    top: -4px;
    left: 65px;
    z-index: 2;
    transition: opacity 0.3s;
}

#tc:checked + .checkbox-label::after {
    opacity: 1;
}
label span {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    position: relative;
    top: -4px;
}

.registration {
    text-align: center;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.registration::before {
    display: block;
    content: '';
    width: 152px;
    height: 1px;
    position: relative;
    background-color: #F2F2F2;
    top: 10px;
    right: -60px;
}
.registration::after {
    display: block;
    content: '';
    width: 152px;
    height: 1px;
    position: relative;
    background-color: #F2F2F2;
    top: -5px;
    right: -231px;
}
.socmediareglist {
    padding-top: 7px;
    display: flex;
    justify-content: center;
    gap: 4px;
    list-style: none;
}
.fbsvg {
    position: relative;
    left: -57px;
    top: 9px;
}
.facebookbtn {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border-radius: 6px;
    margin-bottom: 34px;
    border: none;
}
.facebookbtn:hover {
    background-color: #022263;
    transition: 0.3s;
}
.facebooktext {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    top: -16px;
    left: 29px;
}
.facebooktext:before {
    display: block;
    content: '';
    width: 28px;
    height: 1px;
    position: relative;
    background-color: #0A162F;
    opacity: 0.1;
    transform: rotate(90deg);
    top: 9px;
}
.googsvg {
    position: relative;
    left: -39px;
    top: 12px;
}
.googlebtn {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 6px;
    margin-bottom: 34px;
    border: none;
}
.googlebtn:hover {
    background-color: #AB1F09;
    transition: 0.3s;
}
.googletext {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    top: -12px;
    padding-left: 30px;
    left: 36px;
}
.googletext:before {
    display: block;
    content: '';
    width: 28px;
    height: 1px;
    position: relative;
    background-color: #2B0D09;
    opacity: 0.1;
    transform: rotate(90deg);
    top: 9px;
}
input, textarea {
    outline: none;
}
input:focus {
    outline: none;
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
.singup {
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.signupbtn {
    padding-right: 94px;
    text-decoration: none;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.signupbtn:before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: relative;
    left: -60px;
    top: 19px;
}
.loginbtn {
    text-decoration: none;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.loginbtn:hover {
    color: #01813F;
    text-decoration: underline #01813F;
    transition: 0.3s;
}
.termscond {
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.termscond span {
    color: #3CB878;
}
.termscond span:hover {
    color: #01813F;
    text-decoration: underline #01813F;
    transition: 0.3s;
}
.createbtn {
    width: 324px;
    height: 46px;
    background-color: #3CB878CC;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 20px;
}
.createbtn:hover {
    background-color:  #01813F;
    transition: 0.3s;
}
#password {
    margin-bottom: 12px;
}